Repository Redocly/redocly-cli, pull requests merged in 2024-03, with the labels that each got.

#1461 fix: fix issues with https-agent-proxy for cli and openapi-core packages
  .changeset/wild-pets-report.md
  docs/installation.md
  package-lock.json
  packages/cli/src/__mocks__/@redocly/openapi-core.ts
  packages/cli/src/cms/api/__tests__/api.client.test.ts
  packages/cli/src/cms/api/api-client.ts
  packages/cli/src/commands/push.ts
  packages/cli/src/utils/fetch-with-timeout.ts
  packages/core/package.json
  packages/core/src/bundle.ts
  packages/core/src/config/config.ts
  packages/core/src/config/load.ts
  packages/core/src/decorators/common/registry-dependencies.ts
  packages/core/src/index.ts
  packages/core/src/redocly/__tests__/domains.test.ts
  packages/core/src/redocly/__tests__/redocly-client.test.ts
  packages/core/src/redocly/domains.ts
  packages/core/src/redocly/index.ts
  packages/core/src/redocly/registry-api.ts
  packages/core/src/utils.ts
Labels: deploy_s3_sandbox

#1471 chore: use redocly-config package for external config schemas
  __tests__/lint-config/config-structure/snapshot.js
  package-lock.json
  packages/core/package.json
  packages/core/src/__tests__/lint.test.ts
  packages/core/src/config/types.ts
  packages/core/src/types/portal-config-schema.ts
  packages/core/src/types/redocly-yaml.ts
  packages/core/src/types/theme-config.ts
Labels: deploy_s3_sandbox, No Changeset Needed

#1478 fix: prevent failing in worker
  .changeset/moody-parents-fry.md
  packages/core/src/env.ts
Labels: deploy_s3_sandbox

#1485 Removes two links to the yaml spec as the site is down
  docs/rules/configurable-rules.md
Labels: Type: Docs

#1499 docs: adds gsod 2024 folder and proposal page
  .github/ISSUE_TEMPLATE/gsod-project-ideas.md
  docs/gsod/2024/proposal.md
Labels: gsod

#1505 docs: fixes spacing issue that cut budget table out of gsod proposal doc
  docs/gsod/2024/proposal.md
Labels: gsod

#1483 docs: add cli config reference
  docs/configuration/index.md
  docs/configuration/reference/apis.md
  docs/configuration/reference/decorators.md
  docs/configuration/reference/extends.md
  docs/configuration/reference/plugins.md
  docs/configuration/reference/preprocessors.md
  docs/configuration/reference/resolve.md
  docs/configuration/reference/rules.md
  docs/sidebars.yaml
Labels: documentation

#1506 Gsod prop context
  docs/gsod/2024/proposal.md
Labels: gsod
