Repository Redocly/redocly-cli, pull requests merged in 2025-01, with the labels that each got.

#1834 feat: support custom message for built-in rules
  .changeset/tough-clouds-complain.md
  __tests__/lint/default-message-override/openapi.yaml
  __tests__/lint/default-message-override/redocly.yaml
  __tests__/lint/default-message-override/snapshot.js
  __tests__/lint/default-message-override/split/info.yaml
  __tests__/lint/default-message-override/split/openapi.yaml
  __tests__/lint/default-message-override/split/paths/test.yaml
  docs/configuration/reference/rules.md
  packages/core/src/__tests__/walk.test.ts
  packages/core/src/config/rules.ts
  packages/core/src/config/types.ts
  packages/core/src/visitors.ts
  packages/core/src/walk.ts
Labels: deploy_s3_sandbox

#1837 fix: resolve apis.root correctly for external urls
  .changeset/cuddly-glasses-add.md
  __tests__/commands.test.ts
  __tests__/miscellaneous/apply-per-api-decorators/nested/redocly.yaml
  __tests__/miscellaneous/apply-per-api-decorators/snapshot.js
  packages/cli/src/commands/bundle.ts
  packages/cli/src/commands/lint.ts
  packages/cli/src/utils/__mocks__/miscellaneous.ts
  packages/cli/src/utils/miscellaneous.ts
Labels: deploy_s3_sandbox

#1853 chore: add snapshot release pipelines
  .github/workflows/pr-title.yml
  .github/workflows/snapshot-pr.yaml
  .github/workflows/snapshot-release.yaml
  CONTRIBUTING.md
  package.json
Labels: snapshot

#1848 feat: migrate from node-fetch to native fetch
  .changeset/warm-tips-sit.md
  .github/workflows/smoke.yaml
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/src/__tests__/commands/push-region.test.ts
  packages/cli/src/__tests__/commands/push.test.ts
  packages/cli/src/__tests__/fetch-with-timeout.test.ts
  packages/cli/src/__tests__/wrapper.test.ts
  packages/cli/src/cms/api/__tests__/api.client.test.ts
  packages/cli/src/cms/api/api-client.ts
  packages/cli/src/commands/push.ts
  packages/cli/src/utils/fetch-with-timeout.ts
  packages/core/package.json
  packages/core/src/redocly/__tests__/redocly-client.test.ts
  packages/core/src/redocly/registry-api.ts
  packages/core/src/utils.ts
Labels: snapshot

#1870 chore: fix typos
  .github/workflows/pr-title.yml
  .github/workflows/require-changeset.yaml
  CONTRIBUTING.md
  docs/changelog.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
Labels: no changeset needed

#1868 docs(all): adds info for finding org and project slugs to push-status command doc and removes broken links
  docs/commands/push-status.md
Labels: Type: Docs
